.container{
    width: 600px;
}
.modalTitle{
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title{
    width: 250px;
}
.description textarea{
    width: 300px;
    height: 100px;
}
.deadline input{
    width: 150px;
}
input, textarea, button{
    outline: none;
    border: 0px;
    border: 1px solid #000;
    resize: none;
    padding: 5px;
}
.priority{
    display: flex;
    gap: 10px;
}

.createBtn{
    background-color: transparent;
    transition: 0.3s;
    padding: 10px 30px;
}
.createBtn:hover {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
    cursor: pointer;
}
.wrapBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.high{
    padding: 5px;
    color: #FF0000;
    font-size: 16px;
}
.medium{
    padding: 5px;
    color: #FFC633;
    font-size: 16px;
}
.low{
    padding: 5px;
    color: #3BD95D;
    font-size: 16px;
}